[[extend 'layout.html']]
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Find Doctor By Symptoms
            </p>

        </div>
    </section>

    <div class="columns is-centered">

        <div class="column">

            <section class="section">
                <div class="container">
                    <div class="columns is-mobile is-centered">
                        <div class="column is-one-third">
                            <br>
                            <button class="button is-link is-fullwidth">
                                User Info
                            </button>
                        </div>
                        <div class="column">

                            <div class="field">
                                <label class="label">Find a doctor near you</label>
                                <div class="control">
                                    <input class="input" type="text" placeholder="Search">
                                    

                                </div>
                                <p class="help"></p>
                                <br>

                            </div>
                        </div>
                        <div class="column is-one-third">
                            <br>

                            <div class="dropdown is-hoverable">
                                <div class="dropdown-trigger">
                                    <button class="button is-warning is-fullwidth" aria-haspopup="true"
                                        aria-controls="dropdown-menu">
                                        <span>Symptoms</span>
                                        <span class="icon is-small">
                                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        [[for sympt in symptoms:]]
                                            <a href="#" class="dropdown-item">
                                                [[under = '_']]
                                                [[for under in sympt:]]
                                                    [[sympt_wo = sympt.replace('_', ' ')]]
                                                    [[pass]]
                                                [[=sympt_wo]]
                                                <label class="checkbox">
                                                    <input type="checkbox">

                                                </label>
                                            </a>
                                            <hr class="dropdown-divider">
                                        [[pass]]
                                        <!-- <a class="dropdown-item">
                                            Leg cramps
                                            <label class="checkbox">
                                                <input type="checkbox">

                                            </label>
                                        </a>
                                        <hr class="dropdown-divider">
                                        <a href="#" class="dropdown-item">
                                            Aches
                                            <label class="checkbox">
                                                <input type="checkbox">

                                            </label>
                                        </a> -->

                                    </div>
                                </div>
                            </div>
                        </div>
            </section>

            <section class="section">
                <div class="container">
                    <div class="columns is-mobile is-centered">
                        <div class="column is-half">
                            <div class="content">
                                <p class="is-size-3">
                                    Gastronomist
                                </p>
                                <ul>
                                    <li>Santa Cruz Gastroenterology</li>
                                    <ul>
                                        <li> 2.8 ⭐</li>
                                        <li> Distance: 2.8 miles</li>
                                        <li> Schedule appointment</li>
                                    </ul>

                                    <li> Kourosh Ghassemi, M.D.</li>
                                    <ul>
                                        <li> 2.6 ⭐</li>
                                        <li> Distance: 6.1 miles</li>
                                        <li> Schedule appointment</li>
                                        <li> Schedule appointment</li>
                                    </ul>
                                </ul>
                                <p class="is-size-3">
                                    Psychiatrist
                                </p>
                                <ul>
                                    <li>The Sutfliffe Clinic</li>
                                </ul>

                            </div>
                        </div>
                        <div class="column is-one-fifth">
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <div class="box has-text-centered">
                                <br>
                                <br>
                                <br>

                                Map placeholder
                                <br>
                                <br>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>
