[[extend 'layout.html']]

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Find Doctor By Symptoms
            </p>

        </div>
    </section>

    <div class="columns is-centered">

        <div class="column">

            <section class="section">
                <div class="container">
                    <div class="columns is-mobile is-centered">
                        <div class="column is-one-third">
                            <br>
                            <a class="button is-link is-fullwidth" href="[[=URL('index')]]">
                                Back
                            </a>
                        </div>

                        <div class="column is-one-third">

                        </div>

                        <div class="column is-one-third">
                            <br>
                            <a class="button is-link is-fullwidth" href="[[=URL('edit', row.user_email, signer=url_signer)]]">
                                Edit
                            </a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="container">
                    <div class="columns is-mobile is-centered">
                        <div class="column is-half">
                            <div class="content">
                                <p class="is-size-3">
                                    User Info
                                </p>
                                <ul>
                                    <li><b>Age:</b> [[=row.age]]</li>
                                    <li><b>Sex:</b> [[=row.sex]]</li>
                                    <li><b>Location:</b> [[=row.location]]</li>
                                    <li><b>Past Symptoms:</b> [[=row.symptoms]]</li>
                                    <li><b>Insurance Provider:</b> [[=row.insurance_provider]]</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>
