[[extend 'layout.html']]
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <p class="title">
                Find Doctor By Symptoms
            </p>

        </div>
    </section>

    <div class="columns is-centered">

        <div class="column">

            <section class="section">
                <div class="container">
                    <div class="columns is-mobile is-centered">
                        <div class="column is-one-third">
                            <br>
                            <button class="button is-link is-fullwidth">
                                Back
                            </button>
                        </div>
                        <div class="column is-two-thirds">

                        </div>
                    </div>
                </div>
            </section>

            <section class="section">
                <div class="container">
                    <div class="columns is-mobile is-centered">
                        <div class="column is-half">
                            <div class="content">
                                <p class="is-size-3">
                                    User Info
                                </p>
                                <ul>
                                    <li><b>Age:</b> 21</li>
                                    <li><b>Sex:</b> M</li>
                                    <li><b>Location:</b> Santa Cruz, CA</li>
                                    <li><b>Past Symptoms:</b> Neck cramps, shoulder cramps, knee cramps</li>
                                    <li><b>Insurance Provider:</b> Cigna</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>
