[[extend 'layout.html']]

<div class="section">

    <h1 class="title">User Info:</h1>

    <table class="table is-fullwidth">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Sex</th>
        </tr>
        <tr>
            <td>[[=user.first_name]]</td>
            <td>[[=user.last_name]]</td>
            <td>[[=user.age]]</td>
            <td>[[=user.sex]]</td>
        </tr>
    </table>

    <a class="button is-primary" href="[[=URL('edit_user_info',user.id,signer=url_signer)]]">
        <span>Edit User Info</span>
    </a>

    <a class="button is-success" href="[[=URL('index')]]">
        <!-- <span class="icon"> <i class="fa fa-fw fa-backward"></i></span> -->
        <span>Back</span>
    </a>
</div>